* {
    box-sizing: border-box;
}

html {
    font-size: 16px;

    @media screen and (max-width: 767px) {
        font-size: 18px;
    }
}

body {
    margin: 0;
    font-family: "Times New Roman", Times, serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-image: url("../../public/main-background.webp");
    background-size: cover;
}
